*{
    padding: 0;
    margin: 0;
}

.cudrado{
    width: 200px;
    height: 200px;
    background: red;
    margin: 20px 0;
    color: rgb(255, 255, 255);
    font-size: 48px;
}

.uno{
    background-color: chartreuse;
    position: relative;
}

.dos{
    background-color: rgb(20, 17, 202);
    position: fixed;
    left: 450px;
  
}

.hijo{
    width:20px;
    height: 20px;
    background: rgb(16, 0, 235);
    margin: 20px 0;
    color: rgb(255, 255, 255);
    font-size: 48px;
    border-radius: 100%;
    position: relative;
    left: 50px;
}