html{
    background-color: gray;
}

a, div{
    background-color: gold;
    margin-bottom: 30px;
    padding: 10px;
    padding-top: 20px;
    border: 1px solid black;
}

h1{
    color: blue;
}

#sub{
    color: red;
}
.caja1{
    color: cornflowerblue;
}

p:nth-child(1){
    background: #999999;
    }
    p:nth-child(2){
    background: #CCCCCC;
    }
    p:nth-child(3){
    background: #999999;
    }
    p:nth-child(4){
    background: #CCCCCC;
    }