body{
    background: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}
div{
    margin: 20px 0px;
}
.btn{
    background: #32021f;
    color:#fff;
    text-decoration: none;
    padding: 10px 25px;
    display: inline-block;
    margin: 0 10px;
    border-radius: 30px;
}

.btn2{
    background: #db0284;
    color:#fff;
    text-decoration: none;
    padding: 10px 25px;
    display: inline-block;
    margin: 0 10px;
    border-radius: 15px;
}

.btn3{
    background: #54c49e;
    color:#fff;
    text-decoration: none;
    padding: 10px 25px;
    display: inline-block;
    margin: 0 10px;
   
}

.btn:hover{
   opacity: 0.5;  
}

.btn2:hover{
    opacity: 0.5;  
 }