*{
    padding: 0;  /*Selector universal*/
    margin: 0;
    
}

h1,h2,h3{
    color: crimson;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.enlace1{
   color: firebrick;
}